@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: none;
    color: white;

    
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    width: 100vw;
    background-color: black;
    
}
p {
    color: white;
}
/* --------------Home------------- */
#home .top-home {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(#525252,#000000);
    background: radial-gradient(circle at 50% 90%, #525252, #000000);


    

        
    
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* ---------------------------- */
.logo img {
    width: 120px;
}

.navbar nav ul {
    display: flex;
    flex-direction: row;
}
.navbar nav ul li {
    margin: 15px;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    /* color: white; */
    color: #444444;
    background-color: none;
    margin: 5px 10px;
    padding: 2px 5px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.5s;
    transition: color 0.25s;
}
#h:hover {
    color: rgb(223, 86, 86); 
}
#a:hover {
    color: rgb(86, 156, 223);
}
#s:hover {
    color: rgb(142, 196, 157);
}
#p:hover {
    color: rgb(208, 200, 150);
}
#c:hover {
    color: rgb(198, 147, 198);
}


.mid-home {
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}
.bio {
    color: white;
    font-size: 25px;
    
}
.bio p {
    margin: 10px 0;
    font-size: 35px;
    cursor: pointer;
}

.bio p span {
    display: inline-block;
    transition: all 0.3s, transform 0.3s;
}
/* -------Anchor tag ------- */
.bio p a {
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}
.bio h1,.bio h1 span,.bio h3 span,.bio p {
    transition: all ease 0.5s, transform 0.3s;
} 

.bio h1:hover,.bio h1 span:hover,.bio h3 span:hover ,.bio p span:hover,.bio p a:hover {
    /* color: black; */
    scale: 1.2;
}
.bio p span:hover {
    margin: 0px 10px;
}
.bio h3 {
    margin: 10px 0;
}
.bio h3,.bio h1 span  {
    font-weight: bold;
    color: white;
    
}

.bio p {
    font-weight: 500;
    /* color: #444444; */
    color: white;
    letter-spacing: 2px;
}

/* ----------------About--------------- */
#about {
    height: 100vh;
   
    color: white;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(65, 65, 65);
    /* background: radial-gradient(#525252,#000000); */
    background: radial-gradient(circle at 50% 10%, #525252, #000000);
    

    }

.about-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content .left img {
  height: 550px;
  width: 480px;
  /* background-color: #282A3A; */
  border-radius: 10px;
  margin-top: 75px;
}

.about-content .left {
 display: flex;
 justify-content: center;
 align-items: center;
}
.about-content .right h2 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
}
.about-content .right p  {
    margin: 10px;
}
.about-anchor {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;
    
}
.about-anchor h3 {
    font-weight: 400;
    color: #d5d1d1;
}
.about-anchor li {
    color: #ababab;
}
.about-anchor li {
    list-style-type: none;
}
.about-anchor span {
    color: rgb(222, 105, 105);
}
.about-anchor span,h3,li {
    margin-left: 10px;
}
#skills h3,#education h3, #experience h3 {
    text-decoration: underline;
    margin-bottom: 10px;
}
/* ---------------Skills Section ---------- */
#skills-section {
    height: 100vh;
   background-color: black;
   background: radial-gradient(circle at 50% -150%, #525252, #000000);
}
#skills-section {
    display: grid;
    grid-template-columns: repeat(4, 200px); 
    grid-template-rows: repeat(2, 200px);/* Adjust column count as needed */
    gap: 15px; 
    box-sizing: border-box;
    padding: 150px 300px;
  }
  
  .skill-item {
    text-align: center; 
  }
  .skill-item img {
    width: 110px;
    height: 110px;
    opacity: 0.7;
    transition: all 0.5s;
  }
  .skill-item img:hover {
    scale: 1.1;
    opacity: 1;
    filter: drop-shadow(3px 3px 3px #fff);
  }
  #skills-section .skill-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #skills-section .skill-item span {
    margin-top: 15px;
    color: white;
  }
 
  
  /*-------------------Projects ---------  */
  #project {
    height: 100vh;
   background-color: black;

  }
#project h1 {
    font-size: 400px;
    color: white;
}
  /*-------------------Contact ---------  */
  #contact {
    color: white;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 50px 250px 50px 250px;
    height: calc(100vh - 50px);
    background-color: black;
   
  }
  
.contact, form {
    height: 530px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 50%;
}
.contact {
    justify-content: space-around;
  }
.contact h1 {
    font-size: 65px;
    font-weight: bolder;
}
.contact i {
    margin: 10px;
}
.contact p {
    font-size: 20px;
}
.social-media {
    display: flex;

}
.social-media i {
    margin: 10px;
    font-size: 25px;
}
#download-btn, #submit-btn {
    height: 45px;
    width: 150px;
    border-radius: 30px;
    border: none;
    margin-left: 150px;
    font-size: 17px;
    transition: all 0.5s;
}
#download-btn:hover,#submit-btn:hover {
    width: 180px;
}
/* ------------Form------------------ */
form input {
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding-left: 15px;
    background-color: #282A3A;
    color: white;
}
form textarea {
    height: 150px;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 20px;
    background-color: #282A3A;
    color: white;
}
/* -----------Footer---------- */
.footer {
    height: 50px;
    background-color: #282A3A;
}
.footer p {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 10px;
}

/*---------------Media Query--------------- */
